/test-cmsis-rtos-valid-debug/
/test-cmsis-rtos-valid-release/
/test-stress-sema-debug/
/test-stress-sema-release/
/test-stress-mutex-debug/
/test-stres-mutex-release/
/test-rtos-debug/
/test-rtos-release/
/test-stress-mutex-release/
/test-rtos-debug-io/
/f/
/test-rtos-debug-rtt/
/test-mutex-stress-debug/
/test-mutex-stress-release/
/test-sema-stress-debug/
/test-sema-stress-release/
/test-rtos-cm0-debug/
/test-cmsis-rtos-valid-cm0-debug/
